<!DOCTYPE html>
<html>
  <head>
    <title>MY WEBPAGE</title>
    <style>
      h1{
        text-align:center;
      }
    </style>
  </head>
  <body>
    <h1><b>page 1</b></h1>
    <p>The wave crashed and hit the sandcastle head-on. The sandcastle began to melt under the waves force and as the wave receded, half the sandcastle was gone. The next wave hit, not quite as strong, but still managed to cover the remains of the sandcastle and take more of it away. The third wave, a big one, crashed over the sandcastle completely covering and engulfing it. When it receded, there was no trace the sandcastle ever existed and hours of hard work disappeared forever.</p>
    <p>I'm heading back to Colorado tomorrow after being down in Santa Barbara over the weekend for the festival there. I will be making October plans once there and will try to arrange so I'm back here for the birthday if possible. I'll let you know as soon as I know the doctor's appointment schedule and my flight plans.</p>
    <p><a href="{{url_for('more')}}">wanna see more</a></p>
  </body>
</html>
