<!DOCTYPE html>
<html>
  <head>
    <title>MY WEBPAGE</title>
    <style>
      h1{
        text-align:center;
      }
    </style>
  </head>
  <body>
    <h1>Second page</h1>
    <p>She had been told time and time again that the most important steps were the first and the last. It was something that she carried within her in everything she did, but then he showed up and disrupted everything. He told her that she had it wrong. The first step wasn't the most important. The last step wasn't the most important. It was the next step that was the most important.</p>
    <p>They rushed out the door, grabbing anything and everything they could think of they might need. There was no time to double-check to make sure they weren't leaving something important behind. Everything was thrown into the car and they sped off. Thirty minutes later they were safe and that was when it dawned on them that they had forgotten the most important thing of all.</p>
    <p><a href="{{url_for('index')}}">go back to index page</a></p>
  </body>
</html>
